# Copy values to your deployment environment. Do not commit a populated .env file.
NESTBOOK_DB_URL=jdbc:mysql://127.0.0.1:3306/nestbook?useUnicode=true&characterEncoding=utf8&useSSL=false&serverTimezone=Asia/Shanghai
NESTBOOK_DB_USERNAME=
NESTBOOK_DB_PASSWORD=
NESTBOOK_REDIS_HOST=127.0.0.1
NESTBOOK_REDIS_PORT=6379
NESTBOOK_REDIS_DATABASE=1
NESTBOOK_WECHAT_OA_TOKEN=
SERVER_PORT=7002
